@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xs: 320px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply transition-colors duration-300;
  }

  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  .dark {
    --background: 23 23 23;
    --foreground: 255 255 255;
  }
}

html {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

::selection {
  background-color: rgb(var(--foreground));
  color: rgb(var(--background));
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(var(--background)) inset !important;
  -webkit-text-fill-color: rgb(var(--foreground)) !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgb(var(--background));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--foreground) / 0.15);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--foreground) / 0.25);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(var(--foreground) / 0.35);
}

.swiper {
  padding-bottom: 3rem !important;
}

.swiper-slide {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 100% !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: rgb(var(--foreground)) !important;
}

.swiper-pagination-bullet {
  background-color: rgb(var(--foreground)) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(var(--foreground)) !important;
}
