@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

.font-kaisei {
  font-family: 'Kaisei Decol', serif;
}

html {
  background-color: rgb(23 23 23);
}

::selection {
  background-color: #000;
  color: #ffffff;
}
